<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="drawDong.Properties.Settings.dongwanConnectionString"
            connectionString="Data Source=HL-20130422LQMS\SQLEXPRESS;Initial Catalog=dongwan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>